.particle-background {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
   opacity: .35;

  filter:
    blur(1.4px)
    brightness(180%);
  animation: floatParticle ease-in-out infinite alternate;
}

@keyframes floatParticle {
  0% {
    transform: translate(0, 0) scale(0.8);
    opacity: 0.1;
  }

  35% {
    opacity: 0.65;
  }

  70% {
    transform: translate(var(--move-x), var(--move-y)) scale(1.2);
    opacity: 0.45;
  }

  100% {
    transform: translate(0, 0) scale(0.85);
    opacity: 0.08;
  }
}